@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

/* ! PROJECT(varIABLES */
:root {
--first-color:#74b9ff;
--second-color:#2d3436;
--background-color:#dfe6e9;
}

p{
    display: inline-block;
    position: relative;
}

p .fa-solid {

}

p.Q-letter {
    color: var(--first-color);
}

body {
    font-family: 'Kenia', cursive;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

h1 {
    font-size: 10rem;
    color: var(--first-color);
    position: relative;
}

h1 span {
    color: var(--second-color);
}

h1::before {
    content: "";
    position: absolute;
    bottom: 9.5rem;
    left: 0;
    width: 48%;
    height: 5px;
    background-color:var(--second-color);
    transition: all .3s ease-in-out;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 9.5rem;
    right: 0;
    width: 48%;
    height: 5px;
    background-color:var(--first-color);
    transition: all .3s ease-in-out;
}

h1:hover::before {
    width: 0;
}

h1:hover::after {
    width: 0;
}